.news-cell__text {
  margin: 0;
  flex: 1;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  box-sizing: content-box;
  letter-spacing: -0.001em;
}

@media screen and (max-width:1439px) {
  .news-cell__text {
    font-size: 16px;
    line-height: 19px;
  }
}

@media screen and (max-width:767px) {
  .news-cell__text {
    font-size: 14px;
    line-height: 17px;
    flex: 0;
    margin: 0 0 10px;
    letter-spacing: -0.005em;
  }
}
