@media screen and (max-width: 1439px) {
  .header__navigation-block-additionally {
    margin-top: 64px;
    max-width: 368px;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
