  .button__section_place_news {
    margin-top: 17px;
  }
  @media screen  and (max-width: 1279px) {
    .button__section_place_news {grid-row: 3;
    width: 200px;
  justify-self: center;
  margin-top: 32px;
  }
  }
  @media screen  and (max-width: 767px) {
    .button__section_place_news {grid-row: 3;
    width: 100%;
  max-width: 100%;
  }
  }
