.donat__title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
  text-align: center;
}

@media screen and (max-width: 1439px) {
  .donat__title  {
    font-size: 26px;
    line-height: 31px;
  }
}

@media screen and (max-width: 767px) {
  .donat__title {
    font-size: 18px;
    line-height: 22px;
  }
}
