.donation-buttons__list {
  margin: 0;
  padding: 0;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(4, 159px) 211px 1fr 179px;
  list-style: none;
  gap: 40px;
}

@media screen and (max-width: 1439px) {
  .donation-buttons__list {
    grid-template-columns: repeat(4, 75px) 135px 1fr 143px;
    gap: 10px;
  }
}

@media screen and (max-width: 767px) {
  .donation-buttons__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr) auto 1fr;
    gap: 16px 16px;
  }
}
