.page {
  font-family: 'Raleway';
  min-width: 320px;
  max-width: 1440px;
  max-height: min-content;
  margin: 0 auto;
}

@media screen and (max-width: 1439px) {
  .page {
    /* font-family: 'Raleway'; */
  }
}

@media screen and (max-width: 767px) {
  .page {
    /* font-family: 'Raleway'; */
  }
}

