.page {
  font-family: 'Raleway', sans-serif;
  min-width: 320px;
  margin: 0 auto;
  font-size: 0;
}

@media screen and (max-width: 1439px) {
  .page {
  }
}

@media screen and (max-width: 767px) {
  .page {
  }
}

