.numbers__table-cell {
  list-style-type: none;
  max-width: 325px;
}
@media screen and (max-width: 1439px) {
  .numbers__table-cell {
    max-width: 333px;
    min-height: 79px;
  }
}
@media screen and (max-width: 767px) {
  .numbers__table-cell {
    max-width: 300px;
  }
  .numbers__table-cell:nth-of-type(2) {
    order: 2;
  }
  .numbers__table-cell:nth-child(4) {
    order: 2;
  }
}
