.card_type_for-whom {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 104px 1fr auto 48px;
  /* justify-content: space-between; */
  box-sizing: border-box;
  min-height: 428px;
}

@media screen and (max-width: 1439px) {
  .card_type_area-of-work {
    min-height: 294px;
  }
}

@media screen and (max-width: 767px) {
  .card_type_area-of-work {
    min-height: auto;
  }
}
