.card_type_area-of-work {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto min-content;
  box-sizing: border-box;
  min-height: 428px;
}

@media screen and (max-width: 1439px) {
  .card_type_area-of-work {
    min-height: 294px;
  }
}

@media screen and (max-width: 767px) {
  .card_type_area-of-work {
    grid-template-rows: 1fr minmax(20px, auto) min-content;
    min-height: auto;
  }
}
