.heading_type_section {
  padding: 0 0 50px 0;
  font-size: 64px;
  line-height: 120%;
  color: #333333;
  letter-spacing: -0.01em;
  
}

@media screen and (max-width: 1439px) {
  .heading_type_section {
    padding: 0 0 32px 0;
    font-size: 36px;
    width: 688px;
    justify-self: center;
  }
}

@media screen and (max-width: 767px) {
  .heading_type_section {
    padding: 0 0 24px 0;
    font-size: 26px;
    width: 300px;
  }
}
