.donation-buttons__amount-button {
  padding: 0;
  background: #FFFFFF;
  border-radius: 10px;
  min-width: 159px;
  height: 48px;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
  color: #333333;
  border: none;
  font-family: 'Raleway';
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.donation-buttons__amount-button:hover {
  color: #00275C;
}

@media screen and (max-width: 1439px) {
  .donation-buttons__amount-button {
    font-size: 16px;
    height: 44px;
    min-width: 75px;
  }
}

@media screen and (max-width: 767px) {
  .donation-buttons__amount-button {
    font-size: 14px;
    min-width: 122px;
  }
}
