.header__menu {
  background: #FFFFFF;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 40px 98px 105px 39px;
  position: absolute;
  left: 0;
  top: 80px;
  display: none;
  flex-wrap: wrap;
}

@media screen and (max-width: 1439px) {
  .header__menu {
    top: 78px;
    padding: 32px 40px 54px 40px;
  }
}

@media screen and (max-width: 767px) {
  .header__menu {
    padding: 22px 10px 90px 10px;
    top: 54px;
  }
}
