.footer__sponsors_fond {
    width: 100px;
    display:flex;
    background-image: url('../../../images/prfond.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
}

@media screen and (max-width: 1439px) {
.footer__sponsors_fond {
    width: 89px;
    background-image:url('../../../images/prfond.png');
}
}
