.donat {
  max-width: 488px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 74px;
  padding-top: 40px;
}

@media screen and (max-width: 1439px) {
  .donat {
    max-width: 531px;
    padding: 0;
    gap: 32px;
  }
}

@media screen and (max-width: 767px) {
  .donat {
    gap: 36px;
    margin: 0 0 7px;
  }
}
