.links__list_item {
    max-width: 166px;
    list-style-type: none;
    padding: 0 0 10px 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.links__list_item:last-of-type {
    padding: 0;
}


@media screen and (max-width: 1439px) {
    .links__list_item {
        font-size: 16px;
        line-height: 19px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #333333;
    }
}


@media screen and (max-width: 767px) {
.links__list_item {
    margin: 0 18px 0 0;   
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400; 
    font-size: 14px;
}
.links__list_item:last-of-type {
    width: 140px;
}

}