.praktikum__text {
    padding: 0 0 0 20.66px;
}

@media screen and (max-width: 1439px) {
.praktikum__text  {
    width: 280px;
    }
}

@media screen and (max-width: 767px) {
.praktikum__text {  
    font-weight: 500; 
    font-size: 12px;
    line-height: 14.4px;
    padding: 0;
    }
}


