.praktikum__text {
    margin: 0 0 0 20.66px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

@media screen and (max-width: 1439px) {
.praktikum__text  {
    width: 280px;
    }
}

@media screen and (max-width: 767px) {
.praktikum__text {  
    font-weight: 500; 
    font-size: 12px;
    line-height: 14.4px;
    padding: 0;
    }
}


