.header__menu-services {
  max-width: 243px;
  margin: 0;
  margin-right: 96px;
  padding: 0;
  list-style-type: none;
  position: relative;
}

@media screen and (max-width: 1439px) {
  .header__menu-services {
    max-width: 196px;
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .header__menu-services {
    min-width: 100%;
  }
}
