.header__menu-to-disabled {
  max-width: 320px;
  margin: 0;
  margin-right: 55px;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 1439px) {
  .header__menu-to-disabled {
    max-width: 217px;
    margin-right: 65px;
  }
}

@media screen and (max-width: 767px) {
  .header__menu-to-disabled {
    max-width: 100%;
  }
}
