.button_type_news {
  border: 1px solid #0C4BA0;
  margin-top: 17px;
  font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 120%;
background-color: #fff;
color: #0C4BA0;

}
@media screen  and (max-width: 1279px) {
  .button_type_news {grid-row: 3;
  width: 200px;
justify-self: center;
margin-top: 32px;
}
}
@media screen  and (max-width: 767px) {
  .button_type_news {grid-row: 3;
  width: 100%;

}
}