.button_type_more {
  padding: 0 10px 0 10px;
  text-decoration: none;
  color: #333333;
  align-content: center;
  max-width: 165px;
  box-sizing: border-box;
  display: flex;
  background-color: #FFFFFF;
  background-image: url(../../../images/arrow_forward.svg);
  background-position: top 16px right 14px;
  background-repeat: no-repeat;
  background-size: 16px, 16px, cover;
  align-items: center;
}
@media screen and (max-width: 1439px) {
  .button_type_more {
    max-width: 139px;
    background-size: 13px, 13px, cover;
  }
}

@media screen and (max-width: 767px) {
  .button_type_more {
    max-width: 128px;
  }
}
