.button_type_agency {
  border: 1px solid #0C4BA0;
 
  font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 120%;
background-color: #fff;
color: #0C4BA0;
min-width: 204px;
justify-self: center;
}
@media screen and (max-width:1267px){
  .button_type_agency {
    min-width: 200px;
  }
}
@media screen and (max-width:767px){
  .button_type_agency {
    width: 100%
  }
}