.button_type_right-arrow {
  margin: 0;
  padding: 9px;
  width: 35px;
  height: 35px;
  background-color: #0C4BA0;
  color: #FFFFFF;
  background-position: center;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 7px;
}

@media screen and (max-width: 1439px) {
  .button_type_right-arrow {
    width: 24px;
    height: 24px;
    border-radius: 6px;
  }
}

@media screen and (max-width: 767px) {
  .button_type_right-arrow {}
}
