.button_type_support {
  background: #0C4BA0;
  color: #FFFFFF;
  font-feature-settings: 'pnum' on, 'lnum' on;
  border: none;
  width: 100%;
}

.button_type_support:hover {
  background: #4183DC;
}

@media screen and (max-width: 1439px) {
  .button_type_support {
    font-size: 16px;
    height: 44px;
  }
}

@media screen and (max-width: 767px) {
  .button_type_support {
    font-size: 14px;
  }
}
