.button_type_more {
  position: relative;
  padding: 0 10px 0 10px;
  text-decoration: none;
  align-content: center;
  max-width: 165px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 111px 16px;
  gap: 14px;
  align-items: center;
}

@media screen and (max-width: 1439px) {
  .button_type_more {
    max-width: 139px;
    grid-template-columns: 78px 12px;
    gap: 13px;
  }
}

@media screen and (max-width: 767px) {
  .button_type_more {
    max-width: 128px;
  }
}
