.history-plate__text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

@media screen and (max-width: 1439px) {
  .history-plate__text {
    font-size: 16px;
    line-height: 120%;
    grid-area: 3/1/3/1;
  }
}

@media screen and (max-width: 767px) {
  .history-plate__text {
    font-size: 14px;
    line-height: 120%;
  }
}
