.for-whom__icon {
  height: 64px;
  width: 64px;
  border-radius: 10px;
  padding: 16px;
  box-sizing: border-box;
  margin: 0 0 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px, 32px, cover;
}

@media screen and (max-width: 1439px) {
  .for-whom__icon {
    height: 48px;
    width: 48px;
    background-size: 24px, 24px, cover;
    margin: 0 0 20px;
  }
}

