.header {
  max-width: 1360px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 1439px) {
  .header {
    max-width: 692px;
    padding: 17px 40px;
    box-shadow: 0px 4px 30px rgba(42, 48, 56, 0.1);
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 320px;
    padding: 17px 10px;
  }
}
