.footer__container {
    margin: 80px 146px 50px 77px;
    display: grid;
    grid-template-columns: 540px 655px;
    column-gap: 60px;
    row-gap: 50px;
}

@media screen and (max-width: 1439px) {
.footer__container  {
    margin: 50px 40px 53px 40px;
    }
}


@media screen and (max-width: 767px) {
.footer__container {
    margin: 32px 10px 113px 10px;
    grid-template-columns: repeat(1, 1fr);
    }
}
  