.footer__sm-icons-vk {
  width: 64px;
  min-height: 62px;
  list-style: none;
  display:flex;
  background-image: url(../../../images/vk.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
