.header__navigation {
  padding-top: 40px;
  padding-bottom: 105px;
  padding-left: 39px;
  padding-right: 39px;
  background-color: #FFFFFF;;
  min-width: 1282px;
  display: none;
  justify-content: space-between;
  position: absolute;
  top: 65px;
  left: 0;
}

.header__navigation::before {
  content: '';
  background-color: inherit;
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  height: 30px;
}

