.form__checkboxs-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

@media screen and (max-width: 1439px) {
  .form__checkboxs-container {
    gap: 14px;
  }
}

@media screen and (max-width: 767px) {
  .form__checkboxs-container {
    gap: 12px;
  }
}
