.project-card__content {
  display: grid;
  grid-template-columns: 603px 393px;
  grid-template-rows: 42px 351px;
  column-gap: 142px;
  min-height: 393px;
  width: calc(100% - 30px * 2);
  margin: 0 auto;
}
@media screen and (max-width: 1439px) {
  .project-card__content {
    grid-template-columns: 339px 284px;
    grid-template-rows: 31px 253px;
    column-gap: 30px;
    min-height: 284px;
  }
}
@media screen and (max-width: 767px) {
  .project-card__content {
    width: calc(100% - 25px * 2);
    grid-template-columns: 250px;
    grid-template-rows: 41px 200px 204px;
  }
}
