.header__submenu-button {
  width: 24px;
  height: 24px;
  background-color: inherit;
  background-image: url(../../../images/header_submenu_shevron.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  top: 5px;
  left: 250px;
}
