.header__menu-button-image {
  width: 29px;
  height: 24px;
  background-image: url(../../../images/header_menu-button.svg);
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1439px) {
  .header__menu-button-image {
    width: 25px;
    height: 24px;
  }
}
