.header__menu-wrapper:hover .header__navigation {
  display: flex;
}

@media screen and (max-width: 1439px) {
  .header__menu-wrapper {
    order: 2;
  }
  .header__menu-wrapper:hover .header__navigation {
    display: none;
  }
}
