.header__navigation-title-link {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
  text-decoration: none;
  color: #333333;
}

@media screen and (max-width: 1439px) {
  .header__navigation-title-link {
    font-size: 20px;
  }
}

