.footer__sm-icon {
  width: 64px;
  min-height: 62px;
  list-style: none;
  display: flex;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media screen and (max-width: 1439px) {
  .footer__sm-icon {
    width: 40px;
    min-height: 40px;
  }
}
