.form__radio-btns-container {
  
  padding: 0;
  margin: 16px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px 5px;
  list-style: none;
}
.form__radio-btns-container:last-child{
  justify-content: center;
  gap: 18px
}
@media screen and (max-width: 1279px) {
  .form__radio-btns-container {
    gap: 16px 16px;
  }
  .form__radio-btns-container:last-child{
    justify-content: flex-start;
    gap: 16px
  }
}

@media screen and (max-width: 764px) {
  .form__radio-btns-container {
    margin: 20px auto 16px;
    justify-content: center;
  }
  .form__radio-btns-container:last-child{
    justify-content:center;
    flex-direction: column;
    gap: 16px
  }
}
