.agency__container {
  display: flex;
  gap: 20px;
  padding-bottom: 79px;
}
@media screen and (max-width: 1279px) {
  .agency__container {
    justify-content: center;
    padding-bottom: 32px;
  }
}
@media screen and (max-width: 767px) {
  .agency__container {
    flex-direction: column;
    padding-bottom: 24px;
    gap: 30px;
  }
}