.form__fieldset-container_el_profile {
  display: flex;
  flex-direction: column;
  margin: 0 0 22px;
}

@media screen and (max-width: 767px) {
  .form__fieldset-container_el_profile {
    margin: 0 0 24px;
  }
}
