.form__fieldset-container_el_profile {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
}
@media screen and (max-width: 764px) {
  .form__fieldset-container_el_profile {
    
    margin-bottom: 24px;
  }
}