.form__fieldset-container_el_period {
  margin: 0 0 23px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 1439px) {
  .form__fieldset-container_el_period {
    margin: 0 0 32px 0;
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .form__fieldset-container_el_period {
    margin: 0 0 32px 0;
  }
}
