.form__fieldset-container_el_payment {
  margin: 0 0 26px 0;
}

@media screen and (max-width: 1439px) {
  .form__fieldset-container_el_payment {
    margin: 0 0 31px 0;
  }
}

@media screen and (max-width: 767px) {
  .form__fieldset-container_el_payment {
    margin: 0;
  }
}
