.accordion__text {
  max-width: 670px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #333333;
  margin: 0 20px 20px;
}

@media screen and (max-width: 1439px) {
  .accordion__text {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .accordion__text {
    margin: 0 0 16px 16px;
    padding: 0;
  }
}
