.form__question {
  background-image: url(../../../images/Question.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 10px;
  padding-left: 20px;
}

@media screen and (max-width: 764px) {
  .form__question {
    width: 8.4px;
  height: 8.4px;
  padding-left: 8px;
  background-size: 8.4px 8.4px;
      }
     
}