.form__question {
  background-image: url(../../../images/Question.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 10px;
  padding: 0 0 0 20px;
}

@media screen and (max-width: 764px) {
  .form__question {
    width: 9px;
    height: 9px;
    padding-left: 12px;
    background-size: 9px 9px;
  }
}
