.footer__telephone-num {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

@media screen and (max-width: 1439px) {
  .footer__telephone-num {
    margin: 0 0 16px 0;
  }
}

@media screen and (max-width: 767px) {
  .footer__telephone-num {
    margin: 0 16px 0 0;
  }
}
