.history-plate {
  margin: 0 0 50px;
  padding: 48px 0 52px;
  grid-column: 1/3;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

@media screen and (max-width: 1439px) {
  .history-plate {
    padding: 0;
    margin: 0 0 32px;
    gap: 32px;
  }
}

@media screen and (max-width: 767px) {
  .history-plate {
    flex-direction: column-reverse;
    gap: 10px;
    margin-bottom: 32px;
  }

  .history-plate:last-of-type {
    margin: 0;
  }
}
