.footer__telephone {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1439px) {
  .footer__telephone {

  }
}

@media screen and (max-width: 767px) {
  .footer__telephone {
    display: flex;
  }
}
