.history {
  box-sizing: border-box;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 40px 0;
  display: grid;
  grid-template-columns: 1fr 213px;
}

@media screen and (max-width: 1439px) {
  .history {
    grid-template-columns: 1fr;
    padding: 50px 40px;
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .history {
    padding: 32px 10px;
    max-width: 320px;
  }
}
