.project-card__caption {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #333333;
    margin: 0 0 19px;  
}
@media screen and (max-width: 1439px) {
    .project-card__caption {
        font-size: 16px;
        margin: 0 0 12px;
    }
}
@media screen and (max-width: 767px) {
    .project-card__caption {
        font-size: 14px;
        margin: 0 0 24px;
    }
}