.button_color_white-blue {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-decoration: none;
  color: #0c4ba0;
  box-sizing: border-box;
  border: 1px solid #0c4ba0;
  border-radius: 10px;
}

.button_color_white-blue:hover {
  color: #00275c;
  border: 1px solid #00275c;
}

.button_color_white-blue:active {
  background-color: #00275c;
  border: none;
  color: #ffffff;
}

.button_color_white-blue:disabled {
  background-color: #f5f5f5;
  border: 2px solid #c4c4c4;
  color: rgba(38, 38, 38, 0.5);
}

@media screen and (max-width: 1439px) {
  .button_color_white-blue {
    font-size: 16px;
  }
}
