.social-project__img_order_second {
  top: 0;
  right: 0;
  z-index: 1;
  width: 352px;
  object-fit: cover;
}

@media screen and (max-width: 1439px) {
  .social-project__img_order_second {
    top: 14px;
    right: 0;
    width: 184px;
    height: 152px;
  }
}

@media screen and (max-width: 767px) {
  .social-project__img_order_second {
    top: 245px;
    width: 190px;
    height: 144px;
  }
}
