.header__navigation-additionally-title {
  margin-top: 0;
  margin-bottom: 26px;
}

@media screen and (max-width: 1439px) {
  .header__navigation-additionally-title {
    margin-bottom: 24px;
    margin-right: 78px;
  }
}
