.accordion__title {
  display: block;
  cursor: pointer;
  padding: 27px 0 27px 18px;
}

.accordion__title::after {
  position: absolute;
  top: 25px;
  right: 18px;
  content: "";
  background: url(../../../images/blue-plus.svg) no-repeat center / contain;
  background-color: rgba(231, 240, 255, 1);
  background-size: 21px 21px;
  width: 47px;
  height: 47px;
  border-radius: 20px;
}

@media screen and (max-width: 1439px) {
  .accordion__title {
    font-size: 26px;
    padding: 18px 0 18px 18px;

  }

  .accordion__title::after {
    width: 32px;
    height: 32px;
    background-size: 15px 15px;
    top: 20px;
    right: 16px;
  }
}

@media screen and (max-width: 767px) {
  .accordion__title {
    font-size: 18px;
    padding: 15px 0 15px 14px;
    max-width: 212px;
  }

  .accordion__title::after {
    top: 12px;
  }

  .accordion__title:first-child .accordion__title::after {
    top: center;
  }

}
