.button__submit {
  transform: translateX(-21px);
  margin: 0 auto;
  max-width: 194px;
  width: 100%;
  min-height: 48px;
  border: 0;
  color: white;
  background-color: #0c4ba0;
}

@media screen and (max-width: 1439px) {
  .button__submit {
    transform: translateX(0);
    max-width: 200px;
    min-height: 44px;
  }
}

@media screen and (max-width: 764px) {
  .button__submit {
    min-width: 260px;
    width: 100%;
    font-size: 14px;
  }
}
