.footer-links {
  display: grid;
  grid-template-columns: 227px 188px;
  gap: 84px;
}

@media screen and (max-width: 1439px) {
  .footer-links {
    padding: 9px 0 0;
    grid-template-columns: 163px 118px;
    gap: 51px;
  }
}

@media screen and (max-width: 767px) {
  .footer-links {

  }
}
