.areas-of-work {
  padding: 50px 0 0 0;
  margin: 0 auto;
  max-width: 1360px;

}

@media screen and (max-width: 1439px) {
  .areas-of-work {
    max-width: 688px;
  }
}

@media screen and (max-width: 767px) {
  .areas-of-work {
    max-width: 300px;
  }
}
