.heading__footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 120%;
    color: #333333;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1439px) {
    .heading__footer {
        width: 187px;
    }
    }



@media screen and (max-width: 767px) {
    .heading__footer {
        font-size: 16px;
}
}
      