.donat__list {
  margin: 0;
  padding: 0;
  max-width: 396px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  font-feature-settings: "pnum" on, "lnum" on;
  position: relative;
  }
  .donat__list::before {
    content:"";
    display:block;
    height:100%;
    width: 100%;
    position:absolute;
        background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(231, 240, 255, 1) 100%)
  }

@media screen and (max-width: 767px) {
  .donat__list {
    gap: 16px;
  }
}
