.donat__list {
    margin: 0;
  padding: 0;
  max-width: 396px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 28px;
 background-image: linear-gradient( rgba(255,255,255,0), rgba(231, 240, 255, 1));
    font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

@media screen and (max-width:764px) {
  .donat__list {
    gap: 10px;
  }
}
