.main-work {
  max-width: 1360px;
  width: 100%;
  padding-bottom: 150px;
  margin: 0 auto;
}

@media screen and (max-width: 1439px) {
  .main-work {
    max-width: 688px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 767px) {
  .main-work {
    max-width: 300px;
    padding-bottom: 64px;
  }
}