.history-plate__audio {
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 1439px) {
  .history-plate__audio {width: 28px;
  height: 28px;}
}
@media screen and (max-width: 767px) {
  .history-plate__audio {width: 24px;
  height: 24px;}
}