.footer-brand__text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  max-width: 483px;
}

@media screen and (max-width: 1439px) {
  .footer-brand__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 767px) {
  .footer-brand__text {
    margin: 16px 0 0 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.4px;
    width: 300px;
  }
}
