.card {
  border-radius: 30px;
  padding: 30px;
}

@media screen and (max-width: 1439px) {
  .card {
    border-radius: 20px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    padding: 24px;
  }
}
