.agency-cell {
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 22px;
  flex-basis: 440px;
}

@media screen and (max-width: 1439px) {
  .agency-cell {
    flex-basis: 334px;
    gap: 20px
  }

  .agency-cell:last-of-type {
    display: none;

  }
}

@media screen and (max-width: 767px) {
  .agency-cell {
    align-items: center;
    gap: 15px
  }

  .agency-cell:last-of-type {
    display: flex;
  }
}
