.button_place_history {
  border: 1px solid #0c4ba0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  background-color: #fff;
  color: #0c4ba0;
  max-width: 204px;
  width: 195px;
  margin: 12px 0 0;
}

@media screen and (max-width: 1439px) {
  .button_place_history {
    grid-row: 5;
    grid-column: 1/3;
    width: 200px;
    justify-self: center;
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .button_place_history {
    grid-row: 5;
    width: 100%;
    max-width: 100%;
    margin-top: 24px;
  }
}
